.fixed-card {
  width: 3.75in;
  height: 5.25in;
}

.spell-card {
  display: grid;
  grid-template:
    "head head head head" auto
    "time time rang rang" auto
    "comp comp dura dura" auto
    "mats mats mats mats" auto
    "desc desc desc desc" 1fr
    "spel spel spel spel" auto / 1fr 1fr 1fr 1fr;
  gap: var(--margin-width-2);
}

.spell-card > .head {
  grid-area: head;
}

.spell-card > .time {
  grid-area: time;
}

.spell-card > .rang {
  grid-area: rang;
}

.spell-card > .comp {
  grid-area: comp;
}

.spell-card > .dura {
  grid-area: dura;
}

.spell-card > .mats {
  grid-area: mats;
}

.spell-card > .desc {
  grid-area: desc;
}

.spell-card > .spel {
  grid-area: spel;
}
