// Reset
* {
  margin: 0;
  padding: 0;
}

/**
 * Default HTML
 */
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: var(--font-size);
  font-size-adjust: 0.6;
  color: var(--color-fore-base-0);
  background-color: var(--color-back-base-0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-u5);
}

h2 {
  font-size: var(--font-size-u4);
}

h3 {
  font-size: var(--font-size-u3);
}

h4 {
  font-size: var(--font-size-u2);
}

h5 {
  font-size: var(--font-size-u1);
}

small {
  font-size: var(--font-size-d2);
}

strong {
  font-weight: 600;
}

button {
  font-size: inherit;
  background: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

// Focus
*:focus {
  outline: none;
  box-shadow: 0 0 1.5px 1.5px var(--cb-focus);
  @extend .ct-focus;
}

.ct-primary:focus {
  @extend .ct-primary;
}

// Color Transitions
* {
  -webkit-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
}

// Scrollbars
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}
