.table {
  display: grid;
  grid-gap: var(--margin-width-4);
}

.table-row,
.table-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: var(--margin-width-4);
}
