.table {
  display: grid;
  grid-gap: var(--margin-width-2);
}

.table-row,
.table-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 2fr));
  grid-gap: var(--margin-width-2);
}
