// Meyer Reset
// @import "../node_modules/@nll/css/dist/reset/reset.min";
// Nll Styles
@import "./styles/nll.scss";
// Local Reset
@import "./styles/reset.scss";

/**
 * Styles for markdown and dangerouslySetHtml
 */
.inner-children p {
  margin-bottom: var(--margin-width-4);
}

.inner-children ul {
  list-style: none;
  // font-size: var(--font-size-d2);
  // padding-left: var(--margin-width-4);
  margin-bottom: var(--margin-width-4);
}

.inner-children ul > li:before {
  content: "â— ";
}

.inner-children ol {
  list-style: decimal inside;
}
